*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: tomato;
}

.box{
    width: 500px;
    height: 350px;
    border: 2px solid chocolate;
    margin: auto;
    display: block;
    text-align: center;
    background-color:coral;

}

.box h1{
    margin-top: 40px;
    font-size: 40px;
    color: white;
}

.box button {
    position: relative;
    transition: top 0.1s ease, left 0.1s ease;
    margin: 50px 20px;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
}

/* To make not clickable for only No button*/
#btn2{
    position: relative;
    transition: top 0.1s ease, left 0.1s ease;
    pointer-events: none; /* Make pointer disaple when goes in btn*/
    margin: 50px 20px;
    padding: 10px 20px;
    font-size: 15px;
    color: white;
    background-color: tomato;
    cursor: pointer;
    border-radius: 10px;
}
.box p{
    margin-top: 75px;
    font-size: 1em;
    color: white;
}